---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SmallHero from "../../components/SmallHero.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post: any) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title}>
  <SmallHero image={post.data.image} />
<section class="blog-post-wrapper">
  <article class="blog-post">
    <h1>{post.data.title}</h1>
    <Content />
  </article>
  </section>
</BaseLayout>
