---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import MissionSection from "../components/MissionSection.astro";
import Pillars from "../components/Pillars.astro";

---

<BaseLayout title="Macedonexus" class="full-width">

  <Hero
    title="MACEDONEXUS"
    subtitle="A living bridge between cultures and borders."
    image="/heroimg.png"
    ctaText="LEARN MORE"
    ctaLink="/about"
  />
  <MissionSection
  text="Macedonexus exists to reconnect individuals and institutions with their cultural origins while facilitating meaningful global opportunities."
  buttonText="Learn About Our Work"
  buttonLink="/services"
/>
<section class="bridge">
	<div class="bridge-inner">
	  <h2>
		Bridging countries. Preserving identity.
		<br />
		Creating opportunity.
	  </h2>
  
	</div>
  </section>
  <Pillars/>


</BaseLayout>
