---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import MissionSection from "../components/MissionSection.astro";
import Pillars from "../components/Pillars.astro";

import heroImage from "../assets/heroimg.png";
import bridgeImage from "../assets/mac-jewlery.png";
import { Image } from "astro:assets";
---

<BaseLayout title="Macedonexus" class="full-width">

  <Hero
    title="MACEDONEXUS"
    subtitle="A living bridge between cultures and borders."
    image={heroImage}
    ctaText="LEARN MORE"
    ctaLink="/about"
  />
  <MissionSection
  text="Macedonexus exists to reconnect individuals and institutions with their cultural origins while facilitating meaningful global opportunities."
  buttonText="Learn About Our Work"
  buttonLink="/services"
/>
<section class="bridge">
  <Image
    src={bridgeImage}
    alt="Macedonian jewelry"
    class="bridge-bg"
    width={1600}
    loading="lazy"
  />

  <div class="bridge-overlay"></div>

  <div class="bridge-inner">
    <h2>
      Bridging countries. Preserving identity.
      <br />
      Creating opportunity.
    </h2>
  </div>
</section>
  <Pillars/>


</BaseLayout>
