---
const { text, buttonText, buttonLink } = Astro.props;
---

<section class="mission">
  <div class="mission-inner">
    <!-- <div class="mission-divider"></div> -->
    <div class="mission-ornament">
        <img src="/divider-f.png" alt="" />
    </div>

    <p class="mission-text">
      {text}
    </p>

    <a href={buttonLink} class="mission-btn">
      {buttonText}
    </a>
  </div>
</section>
