---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  name: string;
  title: string;
  bio: string;
  icon: ImageMetadata;
}

const { name, title, bio, icon } = Astro.props as Props;
---

<div class="team-member">
  <div class="team-symbol">
    <Image
      src={icon}
      alt=""
      width={240}
      loading="lazy"
    />
  </div>

  <h3 class="team-name">{name}</h3>
  <p class="team-role">{title}</p>

  <div class="team-separator"></div>

  <p class="team-bio">{bio}</p>
</div>